Appendix Crypto - Allowed mechanisms and requirement levels

Currently the crypto appendix as table as follow:

| Symmetric Key Algorithms | Reference | L1 | L2 | L3 |
|--|--|--|--|--|
| AES-256 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | | ✓ | ✓ |
| ChaCha20 | [RFC 8439](https://www.rfc-editor.org/info/rfc8439) | | ✓ | ✓ |
| AES-192 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | | ✓ | ✓ |
| AES-128 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | ✓ | ✓ | ✓ |

The relation between the check marks and the levels does not make much sense. Why would AES-256 be OK for L2 and L3 but nor for L1? To make sense, it would have to be the other way around:

| Symmetric Key Algorithms | Reference | L1 | L2 | L3 |
|--|--|--|--|--|
| AES-256 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | ✓ | ✓ | ✓ |
| ChaCha20 | [RFC 8439](https://www.rfc-editor.org/info/rfc8439) | ✓ | ✓ | ✓ |
| AES-192 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | ✓ | ✓ | ✓ |
| AES-128 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | ✓ | | |

All these should be adjusted, I think.

In all honesty, I don't see us needing any levels here. It should apply to all no? 

> It should apply to all no?

Yes possibly. Removing the levels here might be an option.

Would it make sense to have stricter requirements in this regard for L1 applications than for L3/financial/healthcare ones? In the sense, that if you already use some somewhat sub-par cipher/MAC/signature for L1 applications, it might be OK for now but you should really use something better for L3.

For example, the appendix currently says: that EdDSA (Ed25519, Ed448) is allowed. On the other hand, FAPI 2.0 says "EdDSA (using the Ed25519 variant)". Should the appendix align with FAPI 2.0 in this regard? Only for L3?

So there are two options:

1. remove level indications in these list;
2. fix them.


A more useful classification (instead of L1/L2/L3) would be something like : approved / disallowed / legacy.

For example, HMAC-SHA-1 could be marked as legacy (i.e. maybe it's not that bad if you use if for legacy/compatibility and you have a plan to move away from it but it may not be a great idea to use it in new deployments). This is probably better (@danielcuthbert ?) than what we have currently. See #2399


Note: some notable impact which may not be immediately apparent, is the use of HMAC-SHA-1 as the default mechanism for HOTP and TOTP. This is currently used in many/most recent TOTP I've been using.

As discussed in the references discussions, shall we move to something looking as follows. (Note: the idea is to discuss the form/idea, not the actual content.)

| Symmetric Key Algorithms | Reference | Status | Restrictions |
|--|--|--|--|
| AES-256 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | ✓ | |
| ChaCha20 | [RFC 8439](https://www.rfc-editor.org/info/rfc8439) | ✓ | |
| AES-192 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | ✓ | |
| AES-128 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | ✓ | |
| 2TDEA | | ❌ |
| TDEA (3DES/3DEA) || ❌ |
| IDEA | | ❌ |
| RC4 | | ❌ |
| Blowfish| | ❌ |
| ARC4 | | ❌ |
| DES | | ❌ |


| Hash functions | Reference | Status | Restrictions |
| -------------- | ----------------------------- |-------------------------------------------------------------- |--|
| SHA3-512 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) | ✓
| SHA-512 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) | ✓
| SHA3-384 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) | ✓
| SHA-384 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |✓
| SHA3-256 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) |✓
| SHA-512/256 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |✓
| SHA-256 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |✓
| KMAC256 | [NIST SP 800-185](https://csrc.nist.gov/pubs/sp/800/185/final) |✓ | Not suitable for HMAC/KDF/RBG
| KMAC128 | [NIST SP 800-185](https://csrc.nist.gov/pubs/sp/800/185/final) |✓ | Not suitable for HMAC/KDF/RBG
| SHAKE256 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) |✓
| BLAKE2s |  [BLAKE2: simpler, smaller, fast as MD5](https://eprint.iacr.org/2013/322) |✓
| BLAKE2b | [BLAKE2: simpler, smaller, fast as MD5](https://eprint.iacr.org/2013/322) |✓
| BLAKE3 | [BLAKE3 one function, fast everywhere](https://github.com/BLAKE3-team/BLAKE3-specs/raw/master/blake3.pdf) |✓
| SHA-1 | [RFC 3174](https://www.rfc-editor.org/info/rfc3174) & [RFC 6194](https://www.rfc-editor.org/info/rfc6194) | Legacy | Legacy use for HMA-SHA-1, …
| SHA-224 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |Legacy | Not for digital signatures
| SHA-512/224 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |Legacy | Not for digital signatures
| SHA3-224 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) |Legacy | Not for digital signatures
| CRC (any length) | | ❌ |
| MD4 | [RFC 1320](https://www.rfc-editor.org/info/rfc1320) | ❌ |
| MD5 | [RFC 1321](https://www.rfc-editor.org/info/rfc1321) | ❌ |


@danielcuthbert @unprovable 

"✓", "Legacy" and "❌" are all from different style family. This red-cross is screaming to the face (too much).

If to find the pair for "✓", there is symbol "✕". But then there should be a symbol instead of "Legacy" as well. Or to write everything out as text.

With symbols (problem what to do with "legacy"?):

| Symmetric Key Algorithm | Reference | Status | Restrictions |
|--|--|--|--|
| AES-256 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | ✓ | |
| ChaCha20 | [RFC 8439](https://www.rfc-editor.org/info/rfc8439) | ✓ | |
| AES-192 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | ✓ | |
| AES-128 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | ✓ | |
| 2TDEA | | ✕ |
| TDEA (3DES/3DEA) || ✕ |
| IDEA | | ✕ |
| RC4 | | ✕ |
| Blowfish| | ✕ |
| ARC4 | | ✕ |
| DES | | ✕ |


| Hash function | Reference | Status | Restrictions |
| -------------- | ----------------------------- |-------------------------------------------------------------- |--|
| SHA3-512 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) | ✓
| SHA-512 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) | ✓
| SHA3-384 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) | ✓
| SHA-384 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |✓
| SHA3-256 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) |✓
| SHA-512/256 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |✓
| SHA-256 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |✓
| KMAC256 | [NIST SP 800-185](https://csrc.nist.gov/pubs/sp/800/185/final) |✓ | Not suitable for HMAC/KDF/RBG
| KMAC128 | [NIST SP 800-185](https://csrc.nist.gov/pubs/sp/800/185/final) |✓ | Not suitable for HMAC/KDF/RBG
| SHAKE256 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) |✓
| BLAKE2s |  [BLAKE2: simpler, smaller, fast as MD5](https://eprint.iacr.org/2013/322) |✓
| BLAKE2b | [BLAKE2: simpler, smaller, fast as MD5](https://eprint.iacr.org/2013/322) |✓
| BLAKE3 | [BLAKE3 one function, fast everywhere](https://github.com/BLAKE3-team/BLAKE3-specs/raw/master/blake3.pdf) |✓
| SHA-1 | [RFC 3174](https://www.rfc-editor.org/info/rfc3174) & [RFC 6194](https://www.rfc-editor.org/info/rfc6194) | Legacy | Legacy use for HMAC-SHA-1, …
| SHA-224 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |Legacy | Not for digital signatures
| SHA-512/224 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |Legacy | Not for digital signatures
| SHA3-224 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) |Legacy | Not for digital signatures
| CRC (any length) | | ✕ |
| MD4 | [RFC 1320](https://www.rfc-editor.org/info/rfc1320) | ✕ |
| MD5 | [RFC 1321](https://www.rfc-editor.org/info/rfc1321) | ✕ |

With words:

| Symmetric Key Algorithm | Reference | Status | Restrictions |
|--|--|--|--|
| AES-256 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | Approved | |
| ChaCha20 | [RFC 8439](https://www.rfc-editor.org/info/rfc8439) | Approved| |
| AES-192 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | Approved| |
| AES-128 | [FIPS 197](https://csrc.nist.gov/pubs/fips/197/final) | Approved | |
| 2TDEA | | Disallowed |
| TDEA (3DES/3DEA) || Disallowed |
| IDEA | | Disallowed |
| RC4 | | Disallowed |
| Blowfish| | Disallowed |
| ARC4 | | Disallowed |
| DES | | Disallowed |


| Hash function | Reference | Status | Restrictions |
| -------------- | ----------------------------- |-------------------------------------------------------------- |--|
| SHA3-512 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) | Approved
| SHA-512 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) | Approved
| SHA3-384 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) | Approved
| SHA-384 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |Approved
| SHA3-256 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) |Approved
| SHA-512/256 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |Approved
| SHA-256 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |Approved
| KMAC256 | [NIST SP 800-185](https://csrc.nist.gov/pubs/sp/800/185/final) |Approved | Not suitable for HMAC/KDF/RBG
| KMAC128 | [NIST SP 800-185](https://csrc.nist.gov/pubs/sp/800/185/final) |Approved | Not suitable for HMAC/KDF/RBG
| SHAKE256 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) |Approved
| BLAKE2s |  [BLAKE2: simpler, smaller, fast as MD5](https://eprint.iacr.org/2013/322) |Approved
| BLAKE2b | [BLAKE2: simpler, smaller, fast as MD5](https://eprint.iacr.org/2013/322) |Approved
| BLAKE3 | [BLAKE3 one function, fast everywhere](https://github.com/BLAKE3-team/BLAKE3-specs/raw/master/blake3.pdf) |Approved
| SHA-1 | [RFC 3174](https://www.rfc-editor.org/info/rfc3174) & [RFC 6194](https://www.rfc-editor.org/info/rfc6194) | Legacy | Legacy use for HMAC-SHA-1, …
| SHA-224 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |Legacy | Not for digital signatures
| SHA-512/224 | [FIPS 180-4](https://csrc.nist.gov/pubs/fips/180-4/upd1/final) |Legacy | Not for digital signatures
| SHA3-224 | [FIPS 202](https://csrc.nist.gov/pubs/fips/202/final) |Legacy | Not for digital signatures
| CRC (any length) | | Disallowed |
| MD4 | [RFC 1320](https://www.rfc-editor.org/info/rfc1320) | Disallowed |
| MD5 | [RFC 1321](https://www.rfc-editor.org/info/rfc1321) | Disallowed |

> "✓", "Legacy" and "❌" are all from different style family. This red-cross is screaming to the face (too much).

For ✓vs. ❌, I think this is a font problem more than anything:

* ✓ is "Check mark"
* ❌ is "Cross mark"
* ✕ is "Multiplication X"

> But what is the problem to solve?
>
> Why there is need to use tables? Isn't per-status list enough?

The goal is to discuss whether a list of "legacy" mechanisms should be included in addition to the existing "allowed" and "disallowed" lists and, if that is considered useful/necessary, how this should be presented.

Here, they are all presented in the same table. This can be accomplished through other means such as a separate list of "legacy" mechanisms.

> Why there is need to use tables? Isn't per-status list enough?

The table presentation is already there.

> Whatever is not allowed, is anyway disallowed? So what is the need to list them?

In the current version, there *is* a list of disallowed things so this is not a change in this regard. Maybe there is no need to list disallowed things, though.


1) Is it ok ok recommend AES-256 without specifying the mode? I do not think FIPS approves of AES-256 for all modes. For example, certain modes like ECB are generally not recommended by FIPS.

2) AES under 256 bit key length has problems with quantum resistance. When you apply grovers algorithm to symmetric crypto, you effective 1/2 the bit size. Quantum computing is coming and fast. I suggest we at least warm about this.

3) This is likely the wrong place to post this, can you suggest a better place?

> 1. Is it ok ok recommend AES-256 without specifying the mode? I do not think FIPS approves of AES-256 for all modes. For example, certain modes like ECB are generally not recommended by FIPS.

It is restricted, though - there's a whole section that says what modes are approved, recommended, and prohibited. Perhaps it's worth familiarising yourself with the whole document.

> 2. AES under 256 bit key length has problems with quantum resistance. When you apply grovers algorithm to symmetric crypto, you effective 1/2 the bit size. Quantum computing is coming and fast. I suggest we at least warm about this.

AES128 and AES192 are at the bottom of the list. The blurb used to say 'ordered from most to least preferred' but that has gone, but the list order does strongly imply "top first". They have to be present in order to accommodate a lot of legacy tech that should be cycled out by the time quantum computing is cryptographically relevant (earliest expert estimate for that is still 5yrs away). 

> 3. This is likely the wrong place to post this, can you suggest a better place?

Regarding the 'why tables' comment, I mean, why not? It presents the information in a useful and portable way, and is much more functional that bullet points. It keeps the formatting consistent, and allows us to add extra information (e.g. references, specifications, relevant notes, etc.).

Hey @unprovable I think this is great work. When I said "This is likely the wrong place to post this, can you suggest a better place?" I was talking about my comment being in the wrong thread and was not commenting on your table! :) 

I see the mode section at the bottom of the appendix, cool.

Perhaps we can modify "The following ciphers are approved:" to "The following ciphers are approved, but please note only certain modes of operation are approved, see below" or similar. 

> AES128 and AES192 are at the bottom of the list. The blurb used to say 'ordered from most to least preferred' but that has gone, but the list order does strongly imply "top first". They have to be present in order to accommodate a lot of legacy tech that should be cycled out by the time quantum computing is cryptographically relevant (earliest expert estimate for that is still 5yrs away).

Advanced in Quantum Cryptography just in the last few months are challenging the quantum horizon/2030 dates that is often cited.

There is no strong need to ever use AES-128 or AES-192 in new development and I suggest we punt them to legacy only and discourage any use in new systems.

Under "Approved Hash Functions for Password Storage" I suggest we drop Argon2 due to side channel problems and directly suggest Argon2id.

"Why tables?" > "Why not?", well, not the best argumentation :)

If you have many parameters per item to show in separate cells, then tables suit well. At the moment I did not see that need or questioned it. As one column was duplicating the status, I asked to consider the version, when the approved/legacy/disapproved is just a title before a list of the chosen values.

I just proposed an option for the open discussion.

And helpful note for @jmanico - https://github.com/OWASP/ASVS/issues/2398#issuecomment-2630847538

> Note: the idea is to discuss the form/idea, not the actual content.

> And helpful note for [@jmanico](https://github.com/jmanico) - [#2398 (comment)](https://github.com/OWASP/ASVS/issues/2398#issuecomment-2630847538)
> > Note: the idea is to discuss the form/idea, not the actual content.

Yea, I figured as much. I think that is fair, Elar. Would you like me to open new issues with my comments?

I want to reiterate that there is absolutely no need to use an AES key size smaller than 256 bits. 

Suggesting it for new development is not just unnecessary—it’s a security risk. For several reasons, we should remove it from consideration and classify it as legacy.

With modern hardware (especially AES-NI and other hardware accelerations), the performance overhead of AES-256 compared to AES-128 is negligible. This is the typical scenario in web apps and API's.

Also, Grover’s algorithm effectively halves the security strength of symmetric ciphers in a quantum context:
	•	AES-128 → 64-bit security (potentially insecure in a post-quantum world)
	•	AES-256 → 128-bit security (still considered secure against quantum attacks)

I strongly believe AES-256 (with a good mode) should be the default choice for all new development, regardless of what FIPS says.

> I want to reiterate that there is absolutely no need to use an AES key size smaller than 256 bits.

So would you sete AES-128 as "legacy" or "disallowed"?

/me discreetly pushing forward the idea of a "legacy" level.

See related PR #2573 for an idea of what this could look like.

I agree with legacy for AES lower than 256 bit keys. I don’t want to punish people who used it in the past with a good mode.

By the same token, if people are prepping for quantum resistance, I’d move up to 256 bit keys a lot sooner than later. 😁 

Ping on this issue. Currently, the levels in the appendix don't make sense. We need to do something about it before release.

Either:

* remove them completely
* use some form of allowed, legacy, disallowed system (see #2573).

I'm all for removing them and will do so.

@danielcuthbert, this is done through #2573 (if we decide to take this option).

@randomstuff can this be close following the merging of #2573