Inconsistent requirements about number of bits of security

We have this requirement:

| # | Description | Level | CWE |
| :---: | :--- | :---: | :---: |
| **6.2.9** | [ADDED] Verify that all cryptographic primitives utilize a <mark>minimum of 128-bits of security</mark> based on the algorithm, key size, and configuration. For example, a 256-bit ECC key provides roughly 128 bits of security where <mark>RSA requires a 3072-bit key</mark> to achieve 128 bits of security. | 1 | 311 |

At the same time, we have this wording in the appendix:

> <mark>A security strength of 112 bits</mark> or above MUST be ensured for all Key Exchange schemes, and their implementation MUST follow the parameter choices in the next table.
> 
> | Scheme | Domain Parameters |
> |--|--|
> | RSA | <mark>k >= 2048</mark> |
> | Diffie-Hellman (DH) | L >= 2048 & N >= 224 |
> | Elliptic Curve Diffie-Hellman (ECDH) | f >= 224 |


@danielcuthbert @unprovable any thoughts on this?

Two camps here. One (112 bit) is in the NIST camp and the 128 bit is in the ASVS camp. Given the increased concern around threats and the likes, I'd recommend we change the tables to be in the ASVS camp of 128 bits. I shall do this 

Opened a PR to fix this: https://github.com/OWASP/ASVS/pull/2689 

Agreed moving to 128 bit is a good move. 

NIST SP 800-57, NIST SP 800-38A, NIST SP 800-108, NIST SP 800-67, FIPS 197, NSA Suite B, ISO/IEC 18033-3, ISO/IEC 19772, ENISA Algorithms Report, RFC 8446, RFC 5288, RFC 5869, RFC 7539, and NIST PQC all endorse 128 bit security. 112 is on the way out.

I merged the PR, @randomstuff - if no further action expected, please close the issue