HTTP/2 is not addressed

HTTP/2 is a relatively new binary protocol rather than text-based.
There are a number of vectors that are possible, especially when downgrading is performed. These should be included here in the ASVS.

Some training material regarding this from PortSwigger Web Security Academy:
* [HTTP/2-exclusive vectors](https://portswigger.net/web-security/request-smuggling/advanced/http2-exclusive-vectors)
* [HTTP/2 downgrading](https://portswigger.net/web-security/request-smuggling/advanced/http2-downgrading)

| # | Description | L1 | L2 | L3 | CWE |
| :---: | :--- | :---: | :---: | :---: | :---: |
| **14.6.1** | [ADDED] Verify that the value in the Content-Length matches the calculated length using the built-in mechanism. | ✓ | ✓ | ✓ | 400 |

For me it seems like some missing word or shortening here: "Verify that the value in the Content-Length matches..."

Proposals:
* "Verify that the value in the Content-Length **header** matches..."
* OR "Verify that the value in the Content-Length **response header** matches..."

I like this suggestion. Perhaps "Content-Length response header matches..."

I will change it to request header

Requirements got initially in via #1154 / #1156 https://github.com/OWASP/ASVS/commit/367d6feb812d072c2837293066230c8b8f894b4b

I reopen, as I think those requirements needs some explanation into those that is clearly understandable, which vector those mitigate or why they exists.

Currently those are located in "V13.7 HTTP/2"

| # | Description | Level | CWE |
| :---: | :--- | :---: | :---: |
| **13.7.1** | [ADDED] Verify that the value in the Content-Length request header field matches the calculated length using the built-in mechanism. | 1 | 400 |
| **13.7.2** | [ADDED] Verify that all Transfer-Encoding header fields are stripped from the message or that the request is blocked entirely. | 1 | |
| **13.7.3** | [ADDED] Verify that a full CRLF (\r\n) sequence is neutralized inside a HTTP/2 header. | 1 | 113 |


How about:

| # | Description | Level | CWE |
| :---: | :--- | :---: | :---: |
| **13.7.1** | [ADDED] Verify that the value in the Content-Length request header field matches the actual length of the request using the frameworks built-in validation mechanism. This is to prevent HTTP request smuggling attacks. | 1 | 400 |
| **13.7.2** | [ADDED] Verify that all Transfer-Encoding header fields are stripped from the incoming message or that requests containing them are rejected entirely to prevent HTTP response splitting and header injection.| 1 | |
| **13.7.3** | [ADDED] Verify that any full CRLF (\r\n) sequence within a HTTP/2 header is either removed or rejected to prevent header injection. | 1 | 113 |


Maybe change the category to HTTP?

Those requirements should be specific for HTTP/2. So there no rename to HTTP and for HTTP/3 we have #1798.

The links to source information for the mentioned requirements are in the initial issue description. Just those requirement texts need some improvements.

Gotchya, @elarlang - that makes sense.

Hey @randomstuff if we need to keep this section strictly HTTP/2 does that change your recent feedback at all?

I these requirements are applicable to HTTP/2, I think this should be stated in the requirement if we want the requirements to be self-contained (i.e. that they can be interpreted correctly without looking at the title of the section they are located in).

For example:

> [ADDED] Verify that the value in the Content-Length request header field *of HTTP/2 requests* matches the actual length of the request using the frameworks built-in validation mechanism. This is to prevent HTTP request smuggling attacks.


If we keep this section strictly to HTTP/2, then we might have duplicate because I think that we should have the same exact requirements for HTTP/3.

What about one section that is generic HTTP and a separate section for HTTP/2 and HTTP/3 (And HTTP/1 for that matter)?

I think 13.7.1 is not correctly worded. The formulation says:

> [ADDED] Verify **that the value** in the Content-Length request header field matches the calculated length using the built-in mechanism.

Here we are saying that we must verify that *value in a request* must match a given rule. This cannot be verified when there are untrusted clients. What we can verify if that the HTTP/2 server validates/enforces a correct `Content-Length`. We should formulate it as something like:

> [ADDED] Verify **that the HTTP/2 server validates** that the Content-Length request header field matches the calculated length using the built-in mechanism.

but I'm not sure that this formulation is that great either.

I think this applies to reverse proxy situation (HTTP/2+ to HTTP/1).

I think what we want to say is that if a Content-Length is provided in the upstream request, the reverse proxy must enforce the correct length in the downstream request (which may be difficult in some cases). Can we formulate it somewhat like that?

Does it make sense in other situations (outside of reverse proxy)?

***

Bonus question, wouldn't 13.7.1 apply to HTTP/1 as well, somehow?

https://datatracker.ietf.org/doc/html/rfc2616#section-4.4

> If a Content-Length header field ([section 14.13](https://datatracker.ietf.org/doc/html/rfc2616#section-14.13)) is present, its decimal value in OCTETs represents both the entity-length and the transfer-length. The Content-Length header field MUST NOT be sent if these two lengths are different (i.e., if a Transfer-Encoding header field is present). If a message is received with both a Transfer-Encoding header field and a Content-Length header field, the latter MUST be ignored

I think these issues are specific to HTTP/2 although in some cases they manifest when downgrading from HTTP/2 to a lower version.

I would suggest:

| # | Description | Level | CWE |
| :---: | :--- | :---: | :---: |
| **13.7.1** | [ADDED] Verify that the standard HTTP/2 mechanism for calculating request length is used when downgrading to an older HTTP version. Relying on a provided content-length header which is untrusted may lead to request smuggling. | 1 | 400 |
| **13.7.2** | [ADDED] Verify that all Transfer-Encoding header fields are stripped from HTTP/2 messages or that HTTP/2 requests containing them are rejected entirely to prevent response splitting and header injection attacks. | 1 | |
| **13.7.3** | [ADDED] Verify that any full CRLF (\r\n) sequence within a HTTP/2 header is either removed or rejected to prevent header injection attacks. | 1 | 113 |

Does this make things clearer?

OK for me.

>  I think these issues are specific to HTTP/2

I still think that 13.7.1 could be worded to include HTTP/1 `Content-Length`-based request smuggling. See for example  [Portwigger - HTTP request smuggling](https://portswigger.net/web-security/request-smuggling):

> Most HTTP request smuggling vulnerabilities arise because the HTTP/1 specification provides two different ways to specify where a request ends: the Content-Length header and the Transfer-Encoding header.  […] The Transfer-Encoding header can be used to specify that the message body uses chunked encoding. […] As the <mark>HTTP/1 specification</mark> provides two different methods for specifying the length of HTTP messages, it is possible for a single message to use both methods at once, such that they conflict with each other.



How would you reword it @randomstuff ?

How about:

| # | Description | Level | CWE |
| :---: | :--- | :---: | :---: |
| **13.7.1** | [ADDED] Verify that when downgrading from HTTP/2 to an older version, the standard mechanism for calculating request length is used. Ensure that conflicting Content-Length and Transfer-Encoding headers are not introduced, as they may lead to request smuggling vulnerabilities. | 1 | 400 |




First some references from RFC 911x.

[Transfer Encoding](https://www.rfc-editor.org/rfc/rfc9112.html#name-transfer-encoding) from RFC 9112 (HTTP/1.1):

> A server MAY reject a request that contains both Content-Length and Transfer-Encoding or process such a request in accordance with the Transfer-Encoding alone. <mark>Regardless, the server MUST close the connection after responding to such a request to avoid the potential attacks.</mark>

[Response Splitting](https://www.rfc-editor.org/rfc/rfc9112.html#name-response-splitting) from RFC 9112 (HTTP/1.1):

> Response splitting (a.k.a. CRLF injection) is a common technique, used in various attacks on Web usage, that exploits the line-based nature of HTTP message framing and the ordered association of requests to responses on persistent connections [[Klein](https://www.rfc-editor.org/rfc/rfc9112.html#Klein)]. This technique can be particularly damaging when the requests pass through a shared cache.

[Malformed Messages](https://www.rfc-editor.org/rfc/rfc9113.html#name-malformed-messages) from RFC 9113 (HTTP/2):

> Intermediaries that process HTTP requests or responses (i.e., any intermediary not acting as a tunnel) MUST NOT forward a malformed request or response. Malformed requests or responses that are detected MUST be treated as a [stream error](https://www.rfc-editor.org/rfc/rfc9113.html#StreamErrorHandler) ([Section 5.4.2](https://www.rfc-editor.org/rfc/rfc9113.html#StreamErrorHandler)) of type [PROTOCOL_ERROR](https://www.rfc-editor.org/rfc/rfc9113.html#PROTOCOL_ERROR).

[HTTP Message Framing](https://datatracker.ietf.org/doc/html/rfc9114#name-http-message-framing) from 9114 (HTTP/3):

> Transfer codings (see [Section 7](https://www.rfc-editor.org/rfc/rfc9112#section-7) of [[HTTP/1.1](https://datatracker.ietf.org/doc/html/rfc9112)]) are not defined for HTTP/3; the Transfer-Encoding header field MUST NOT be used.

[Malformed Requests and Responses](https://datatracker.ietf.org/doc/html/rfc9114#name-malformed-requests-and-resp) from RFC 9114 (HTTP/3):

> A request or response that is defined as having content when it contains a Content-Length header field ([Section 8.6](https://www.rfc-editor.org/rfc/rfc9110#section-8.6) of [[HTTP](https://datatracker.ietf.org/doc/html/rfc9110)]) is malformed if the value of the Content-Length header field does not equal the sum of the [DATA](https://datatracker.ietf.org/doc/html/rfc9114#frame-data) frame lengths received. A response that is defined as never having content, even when a Content-Length is present, can have a non-zero Content-Length header field even though no content is included in [DATA](https://datatracker.ietf.org/doc/html/rfc9114#frame-data) frames.
>
> Intermediaries that process HTTP requests or responses (i.e., any intermediary not acting as a tunnel) MUST NOT forward a malformed request or response. Malformed requests or responses that are detected MUST be treated as a [stream error](https://datatracker.ietf.org/doc/html/rfc9114#errors) of type [H3_MESSAGE_ERROR](https://datatracker.ietf.org/doc/html/rfc9114#H3_MESSAGE_ERROR).

***

Latest proposition for 13.7.1 was:

>  [ADDED] Verify that when downgrading from HTTP/2 to an older version, the standard mechanism for calculating request length is used. <mark>Ensure that conflicting Content-Length and Transfer-Encoding headers are not introduced</mark>, as they may lead to request smuggling vulnerabilities.

According to RFC 9112, Content-Length and Transfer-Encoding should not be used in the same HTTP/1.x request anyway. We could simplify the seconde part of proposed 13.7.1 as.

> Verify that intermediaries (such as reverse proxies) do not include both Content-Length and Transfer-Encoding when emitting HTTP/1.x messages, for example when downgrading from HTTP/2 or HTTP/3 to HTTP/1.x.

→ This part would *not* be in the HTTP/1 section.

The first part of proposed 13.7.1 might be replaced by:

> Verify that when a content-length header field is present in a HTTP/2 or HTTP/3 message defined as having content, the message is rejected if the body length is different from the length advertised in the content-length header field.

***

Proposed 13.7.2, I would include HTTP/3 as per the section of RFC 9114 quoted above:

> [ADDED] Verify that all Transfer-Encoding header fields are stripped from HTTP/2 and HTTP/3 messages or that HTTP/2 and HTTP/3 *messages* containing them are rejected entirely to prevent response splitting and header injection attacks.

Note: changed "HTTP/2 requests" to "HTTP/2 and HTTP/3 *messages*"

***

Proposed 13.7.3 (CRLF in HTTP/2) appears to be related to the [Response Splitting](https://www.rfc-editor.org/rfc/rfc9112.html#name-response-splitting) of RFC 9112 (about HTTP/1.1).

I would reformulate as:

> [ADDED] Verify that any full CRLF (\r\n) sequence within a HTTP/2 or HTTP/3 header *fields* is either removed or rejected to prevent header injection attacks.

Note: changed "HTTP/2 header" into "HTTP/2 or HTTP/3 header *fields*" (because in HTTP/2 the header is binary anyway so what we really care about is whether there is a CRLF in a header field?).


In addition, I am wondering if a requirement would be needed for this snippet of RFC 9112 (HTTP/1.1):

> A server MAY reject a request that contains both Content-Length and Transfer-Encoding or process such a request in accordance with the Transfer-Encoding alone.Regardless, the server MUST close the connection after responding to such a request to avoid the potential attacks.

I try to conclude the proposals here, some modifications included.

| # | Description |
| :---: | :--- |
| **13.7.1** | [ADDED] Verify that when downgrading from HTTP/2 to an older **HTTP** version, the standard mechanism for calculating request length is used. Ensure that conflicting Content-Length and Transfer-Encoding header **fields** are not introduced, as they may lead to request smuggling vulnerabilities. |
| **13.7.2** | [ADDED] Verify that all Transfer-Encoding header fields are stripped from HTTP/2 messages or that HTTP/2 requests containing them are rejected ~~entirely~~ to prevent response splitting and header injection attacks. |
| **13.7.3** | [ADDED] Verify that any full CRLF (\r\n) sequence within a HTTP/2 header is either removed or rejected to prevent header injection attacks. |

Any further feedback/comments @tghosth @jmanico @randomstuff ?

I would suggest the following modifications:

* "HTTP/2" into "HTTP/2 and/or HTTP/3" (in all three requirements)
* HTTP/2 header" → in "HTTP/2 or HTTP/3 header field" (13.7.3)

Moreover I'd suggest including this general HTTP requirement if we want to protect against [request smuggling](https://portswigger.net/web-security/request-smuggling) in general:

> Verify that intermediaries (such as reverse proxies) do not include both Content-Length and Transfer-Encoding in the same message when emitting HTTP/1.x messages, for example when downgrading from HTTP/2 or HTTP/3 to HTTP/1.x.


> Moreover I'd suggest including this general HTTP requirement if we want to protect against [request smuggling](https://portswigger.net/web-security/request-smuggling) in general:

Is this going to be relevant in a situation other than downgrading from HTTP/2 or HTTP/3 to HTTP/1?

> Is this going to be relevant in a situation other than downgrading from HTTP/2 or HTTP/3 to HTTP/1?

I don't know if it is *still* relevant but HTTP request smuggling predates HTTP/2 and SDPY (see [HTTP Request Smuggling 2005](https://www.cgisecurity.com/lib/HTTP-Request-Smuggling.pdf)).

The [Portswigger post](https://portswigger.net/web-security/request-smuggling) I mentioned is about request smuggling when using HTTP/1 only:

>  <mark>These techniques are only possible using HTTP/1 requests.</mark> Browsers and other clients, including Burp, use HTTP/2 by default to communicate with servers that explicitly advertise support for it during the TLS handshake.
> 
> As a result, <mark>when testing sites with HTTP/2 support, you need to manually switch protocols</mark> in Burp Repeater. You can do this from the Request attributes section of the Inspector panel.

@randomstuff, we currently have the following:

---

## V13.6 HTTP Request Header Validation

This section detatils HTTP request headers validations that can prevent attacks such as HTTP Request Smuggling or source spoofing.

| # | Description | Level | CWE |
| :---: | :--- | :---: | :---: |
| **13.6.2** | [ADDED] Verify that all application components, including load balancers, firewalls, and application servers, comply with RFC 2616 by ignoring the Content-Length header field when a Transfer-Encoding header field is present, to prevent HTTP Request Smuggling. | 2 | 444 |

---

Do you want to merge your proposal into that? If so, please open a separate issue.

In the meantime, I think this has been a good thread for refining the requirements. I would rather mention HTTP/3 in the section text rather than repeating in each requirement.

I have opened #2739 to resolve this thread. 



> I'm not a that deeply specialist in that field

Me neither 😨 

After having spent a long time preparing a long comment on this topic, I start to think that the three 4.3.X requirements and not very clear :)

***

> What is the difference between 4.2.1 and 4.3.1?

I think that the intent of 4.2.1 is to say, that when you are *receiving* a message with `Transfer-Encoding` (in HTTP/1.x), you must disregard `Content-Length` for the intent of deciding where the incoming message ends (and where the next one begins). This applies to clients, servers and (reverse) proxies.

I think that the intent of the first sentence of 4.3.1 is to day the same thing for HTTP/2. In HTTP/2, there is no  `Transfer-Encoding: chunked` so 4.2.1 as currently formulated does not apply. Instead the end of the message is signaled by the `END_STREAM` flag. When processing a HTTP/2 (or HTTP/3) message, the receiver must ignore `Content-Length` for determining the 

Maybe these two can be merged into a single one?

I think that the second sentence of 4.3.1 is intended to make sure that the reverse proxy does not generate a *HTTP/1.x* message containing both `Content-Length` and `Transfer-Encoding` HTTP header fields:

* I think this should better be a separate requirement from the first sentence of 4.3.1.
* I think it could be generalized as "never send a *HTTP/1.x* message containing both `Content-Length` and `Transfer-Encoding` (when acting as a reverse proxy and otherwise).

***

> If 4.3.1 is satisified (Transfer-Encoding header fields are stripped or that HTTP/2 requests containing them are rejected) how the other are still relevant? 

I'm not sure. I think 4.3.2 as I stands is not very clear which makes answering your question not easy :)

One problem with 4.3.2 is that it mixes a requirement about HTTP message and HTTP requests:

> Verify that all Transfer-Encoding header fields are stripped from HTTP/2 **messages** or that HTTP/2 **requests** containing them are rejected to prevent response splitting and header injection attacks.

The first part of the sentence is a requirement about HTTP/2 messages (requests and responses) while the second part if about requests only.

I think the intent of this requirement is (or should be) to make sure than the sender does not generate a HTTP/2 message with a `Transfer-Encoding` header field:

* because it is `Transfer-Encoding` header field is forbidden in HTTP/2;
* and because this would confuse the receiver of the message and trigger some HTTP smuggling attack.

In this case, this might be merged into the second sentence of 4.3.1 (which should be separated from the first sentence of 4.3.1).

***

Proposition:

* Shall we merge 4.2.1 and sentence 1 of 4.3.1?
* Shall we merge sentence 2 of 4.3.1 and 4.3.2?

Additional question about 4.3.3:

| # | Description | Level | #v5.0.be |
| :---: | :--- | :---: | :---: |
| **4.3.3** | Verify that any full CRLF (\r\n) sequence within a HTTP/2 header field is either removed or rejected to prevent header injection attacks. | 3 | v5.0.be-13.7.3 |

Does it only apply to a full CRLF? Should it apply as well to "\n" or "\r" alone?

* Neither CR nor LF are allowed in [field names](https://www.rfc-editor.org/rfc/rfc9110.html#name-field-names);
* Neither CR nor LF are allowed in [field values](https://www.rfc-editor.org/rfc/rfc9110.html#name-field-values).

> Shall we merge 4.2.1 and sentence 1 of 4.3.1?

I think this is a good idea. Perhaps:

| # | Description | Level | #v5.0.be |
| :---: | :--- | :---: | :---: |
| **4.2.1** | Verify that all application components—including load balancers, firewalls, and application servers—determine message boundaries using the appropriate mechanism for the HTTP version. In HTTP/1.x, if a Transfer-Encoding header is present, the Content-Length header MUST be ignored per RFC 2616 to prevent HTTP request smuggling. When downgrading from HTTP/2 to an older HTTP version, the implementation MUST use the RFC 2616 mechanism for calculating request length to ensure secure and consistent parsing. | 2 | v5.0.be-13.6.2 |

> Shall we merge sentence 2 of 4.3.1 and 4.3.2?

Since we already cover request smuggling in the merge above, I think 4.3.2 is enough without adding sentence 2 from 4.3.1 since we already cover request smuggling.

> Additional question about 4.3.3:
> 
> #	Description	Level	#v5.0.be
> **4.3.3**	Verify that any full CRLF (\r\n) sequence within a HTTP/2 header field is either removed or rejected to prevent header injection attacks.	3	v5.0.be-13.7.3
> Does it only apply to a full CRLF? Should it apply as well to "\n" or "\r" alone?
> 
> * Neither CR nor LF are allowed in [field names](https://www.rfc-editor.org/rfc/rfc9110.html#name-field-names);
> * Neither CR nor LF are allowed in [field values](https://www.rfc-editor.org/rfc/rfc9110.html#name-field-values).

This applies to CR, LF and CRLF for both field names and values. Perhaps a change?

| # | Description | Level | #v5.0.be |
| :---: | :--- | :---: | :---: |
| **4.3.3** | Verify that HTTP/2 header field names and values do not contain any CR (\r), LF (\n), or CRLF (\r\n) sequences. If any such characters are detected, the header must be rejected or sanitized to prevent header injection attacks. | 3 | v5.0.be-13.7.3 |

@randomstuff based on the above do you have an updated proposal for how the the section should be?

I tried to come up with something:

| # | Description | Level | #v5.0.be |
| :---: | :--- | :---: | :---: |
| **4.2.1** |Verify that all application components—including load balancers, firewalls, and application servers—determine boundaries of incoming HTTP messages using the appropriate mechanism for the HTTP version to prevent HTTP request smuggling. In HTTP/1.x, if a Transfer-Encoding header field is present, the Content-Length header MUST be ignored per RFC 2616. When using HTTP/2 or HTTP/3, if a  Content-Length header field is present, the receiver must ensure that it is consistent with the length of the DATA frames. | 2 | v5.0.be-13.6.2 |
| **4.3.1** | Verify that the the sender of a HTTP message does not produce HTTP messages with a Content-Length header field conflicting with the length of the content as determined by the framing of the HTTP protocol, in order to prevent request smuggling attacks. This applies to chunked encoding in HTTP/1 ad the message framing of HTTP/2 and HTTP/3. | 3 | v5.0.be-13.7.1 |
| **4.3.2** | Verify that a HTTP endpoint does not generate HTTP/2 or HTTP/3 messages with connection-specific header fields such as Transfer-Encoding to prevent response splitting and header injection attacks. | 3 | v5.0.be-13.7.2 |
| **4.3.3** | Verify that HTTP/2 header field names and values do not contain any CR (\r), LF (\n), or CRLF (\r\n) sequences. If any such characters are detected, the header must be rejected or sanitized to prevent header injection attacks. | 3 | v5.0.be-13.7.3 |

Some notes:

* In this form, 4.3.1 should be moved into 4.2.
* For 4.3.2, I kept "response splitting and header injection attacks". Is "header injection attacks" relevant in here?
* I used "endpoint" here consistent with RFC 9112 and RFC 9113. This is supposed to talk about a HTTP client-or-server-or-proxy. However, HTTP endpoint is often understood to mean "a URL + method" instead os we may want to change that.

Moved the discussion on 4.3.3 to #2914

Ok, a few questions:

4.2.1

The update says "When using HTTP/2 or HTTP/3, if a Content-Length header field is present, the receiver must ensure that it is consistent with the length of the DATA frames."

- Ignoring downgrading, is this the correct way in which a load balancer or HTTP server should interpret HTTP/2 or HTTP/3 messages?

4.3.1:

It seems like the main point of the original was about the downgrade process and it covered two points. 1) Making sure the length in the downgraded request is correct. 2) Making sure that conflicting headers are not introduced.

- It seems like the first point is still in this requirement whereas the second point has merged into 4.3.2. Do I understand correctly?
- We have now also started talking about HTTP/1 in this requirement. I feel like that generation of an HTTP/1 request outside of the context of downgrading seems very niche indeed. Do you really think it is worth getting into that here?
- In general, it feels like the wording has gotten a lot more complicated. Could we not simplify it to: "_Verify that when downgrading messages to HTTP/1, the Content-Length header field does not conflicting with the length of the content as determined by the framing of the HTTP protocol, in order to prevent request smuggling attacks._"?

4.3.2

> For 4.3.2, I kept "response splitting and header injection attacks". Is "header injection attacks" relevant in here?

- I don't know, can you try and figure that out?
- In general, can we just simplify this to: "_Verify that Transfer-Encoding header fields are stripped from HTTP/2 requests or that  requests containing them are rejected to prevent response splitting (and header injection attacks. [**ed note**: if we decide this is correct])_"


> > The update says "When using HTTP/2 or HTTP/3, if a Content-Length header field is present, the receiver must ensure that it is consistent with the length of the DATA frames."
>
> Ignoring downgrading, is this the correct way in which a load balancer or HTTP server should interpret HTTP/2 or HTTP/3 messages?

Yes, AFAIU the length of the content is supposed to be defined by the length of the DATA frames in the stream (with some details regarding stream reset and termination).

RFC 9914 (for HTTP/3, but an equivalent wording is in the HTTP/2 RFC):

> A request or response that is defined as having content when it contains a Content-Length header field ([Section 8.6](https://www.rfc-editor.org/rfc/rfc9110#section-8.6) of [[HTTP](https://datatracker.ietf.org/doc/html/rfc9110)]) is malformed if the value of the Content-Length header field does not equal the sum of the [DATA](https://datatracker.ietf.org/doc/html/rfc9114#frame-data) frame lengths received.

***

> It seems like the first point is still in this requirement whereas the second point has merged into 4.3.2. Do I understand correctly?

Yes that's what I was trying to do.

> I feel like that generation of an HTTP/1 request outside of the context of downgrading seems very niche indeed. Do you really think it is worth getting into that here?

I would say that the current 4.3.1 ("when downgrading from HTTP/2 to an older HTTP version") is quite niche already as it  is usually implemented by reverse proxy only and usually not by application code i.e. you need to make sure that NGINX and friends are OK in this regard but that's basically it (outside things like [ZAP](https://www.zaproxy.org/)).

Some case where it might make sense (for HTTP/1, HTTP/2 or HTTP/3) is when the a malicious actor would be able to set a `Content-Length` header in a HTTP request sent by the the application.

> In general, it feels like the wording has gotten a lot more complicated. 

Oh yes, it needs simplification.

> Could we not simplify it to: "Verify that when downgrading messages to HTTP/1, the Content-Length header field does not conflicting with the length of the content as determined by the framing of the HTTP protocol, in order to prevent request smuggling attacks."?

What about something such as (with the intent of still covering the "not downgrading" case):

> Verify that when generating messages, the Content-Length header field does not conflict with the length of the content as determined by the framing of the HTTP protocol, in order to prevent request smuggling attacks.

***

> "Verify that Transfer-Encoding header fields are stripped from HTTP/2 requests or that requests containing them are rejected to prevent response splitting (and header injection attacks. [ed note: if we decide this is correct])"

The intent of my proposition was to focus on *generating/sending* HTTP messages instead of *receiving/downgrading* them. The proposed wording is somewhat consistent with RFC 9113 and RFC 9114:

> An endpoint MUST NOT generate an HTTP/2 message containing connection-specific header fields. […] Any message containing connection-specific header fields MUST be treated as [malformed](https://datatracker.ietf.org/doc/html/rfc9113#malformed) ([Section 8.1.1](https://datatracker.ietf.org/doc/html/rfc9113#malformed)).

> An endpoint MUST NOT generate an HTTP/3 field section containing connection-specific fields; any message containing connection-specific fields MUST be treated as [malformed](https://datatracker.ietf.org/doc/html/rfc9114#malformed).

But actually these snippets are actually saying both:

* you shall not generate such as message;
* and you shall reject such an incoming message.

So maybe 4.3.2 should cover both:

> Verify that the application does not send nor accept HTTP/2 or HTTP/3 messages with connection-specific header fields such as Transfer-Encoding to prevent response splitting and header injection attacks.

Ok so @randomstuff are we ok with the folllowing?

| # | Description | Level | #v5.0.be |
| :---: | :--- | :---: | :---: |
| **4.2.1** |Verify that all application components (including load balancers, firewalls, and application servers) determine boundaries of incoming HTTP messages using the appropriate mechanism for the HTTP version to prevent HTTP request smuggling. In HTTP/1.x, if a Transfer-Encoding header field is present, the Content-Length header MUST be ignored per RFC 2616. When using HTTP/2 or HTTP/3, if a  Content-Length header field is present, the receiver must ensure that it is consistent with the length of the DATA frames. | 2 | v5.0.be-13.6.2 |
| **4.3.1** | Verify that when generating messages, the Content-Length header field does not conflict with the length of the content as determined by the framing of the HTTP protocol, in order to prevent request smuggling attacks. | 3 | v5.0.be-13.7.1 |
| **4.3.2** | Verify that the application does not send nor accept HTTP/2 or HTTP/3 messages with connection-specific header fields such as Transfer-Encoding to prevent response splitting and header injection attacks. | 3 | v5.0.be-13.7.2 |

Do you think we should be merging sections 4.2 and 4.3?

> Do you think we should be merging sections 4.2 and 4.3?

Yes, that might make sense. If we do, we might have to change the title however.

If we change this title, note that "HTTP Request Header Validation" may not completely accurately apply to 4.2.1. This requirement *could* apply to HTTP responses as well (but it is mainly intended to be about HTTP requests). I would be tempted to merge 4.2 and 4.3 and use the following title: "HTTP Message Validation"

I think that makes sense, can you open a PR @randomstuff ?

@tghosth, How am I supposed to handle the section and requirement renumbering in this case?

Just change the numbering and then poor @elarlang will have to update the mappings...

Please prepare the content here and I can handle the PR. I need to have clean state for mapping updates, at the moment there are quite intensive flow of PR's and I don't want to spend too much time to figure out what all have been done.

> > Do you think we should be merging sections 4.2 and 4.3?
> 
> Yes, that might make sense. If we do, we might have to change the title however.
> 
> If we change this title, note that "HTTP Request Header Validation" may not completely accurately apply to 4.2.1. This requirement _could_ apply to HTTP responses as well (but it is mainly intended to be about HTTP requests). I would be tempted to merge 4.2 and 4.3 and use the following title: "HTTP Message Validation"

I think "HTTP Message Validation" is a too wide topic and can be misinterpreted. 

But I don't have any better proposal to provide. Without 4.2.2 and 4.2.3 in the section it could be "HTTP Message Strcuture (Validation?)".

> HTTP Message Strcuture

Yes, I think that would be better.

Modified the PR accordingly.

I merged #3015, made follow-up PR #3022 to fix tags, and opened a separate issue #3023 to cover my comment in https://github.com/OWASP/ASVS/issues/1154#issuecomment-2818862341.

Taking into account changes in requirement and potentially moving 2 requirements away, the section text may need some touch as well.

@elarlang should we close this now or should we leave open to discuss section text?

From the requirements perspective it can be closed, I left it open because of section text.

#3023 is now sorted (after PR merge) and section text can be updated based on that.