Adhere security.txt URI to RFC 9116

[V1 Architecture, Design and Threat Modeling V11 Secure Software Development Lifecycle Requirement 1.1.8](https://github.com/OWASP/ASVS/blob/master/5.0/en/0x10-V1-Architecture.md#v11-secure-software-development-lifecycle) states "_[ADDED] Verify availability of a publicly available security.txt file at the root or .well-known directory of the application that clearly defines a link or e-mail address for people to contact owners about security issues._".

[Section 3 of RFC 9116](https://www.rfc-editor.org/rfc/rfc9116.html#section-3-1) mandates that at minimum, ["... organizations MUST place the "security.txt" file under the "/.well-known/" path ..."](https://www.rfc-editor.org/rfc/rfc9116.html#section-3-1).

Therefore, I propose to:
- [ ] Remove the "_... root or ..._" text highlighted as struck out within "_[MODIFIED] Verify availability of a publicly available security.txt file at the ~root or~ .well-known directory of the application that clearly defines a link or e-mail address for people to contact owners about security issues._"
- [ ] Determine the solution that resolves [5.6. Multi-User Environments](https://www.rfc-editor.org/rfc/rfc9116#section-5.6) specifically  "_Organizations should reserve the "security.txt" namespace at the root to ensure no third party can create a page with the "security.txt" AND "/.well-known/security.txt" names._"
- [ ] Replace the https://securitytxt.org/ link with [RFC 9116](https://www.rfc-editor.org/rfc/rfc9116.html) within the ["References" section](https://github.com/OWASP/ASVS/blob/master/5.0/en/0x10-V1-Architecture.md#references)


security.txt as separate requirement was under question already in #664

I think we will not create more than one requirement on the topic. If you have improvement proposals, **with arguments**, why it is important, then combine them to one issue and to one requirement.