V13.1.8 - Content-Type header should match with actual response content

<!---
BEFORE YOU OPEN AN ISSUE:
- If you have a question about content, make sure you are looking at the raw .md files which contain the master version of the text and not in the CSV, JSON, XLSX, PDF, DOCX files which are derived from this.
- Please search the issues in case your question has been discussed before.
- Make sure you are looking at the latest edits at: https://github.com/OWASP/ASVS/tree/master/4.0
- When you reference requirements, please include them as a link, similarly to this:
[6.1.2](https://github.com/OWASP/ASVS/blob/master/4.0/en/0x14-V6-Cryptography.md#v61-data-classification)

OTHER NOTES:
- Please do not open a pull request without first opening an associated issue.
- Please carry out all discussion in the associated issue only.
-->

Requirement: [V14.4.1](https://github.com/OWASP/ASVS/blob/master/4.0/en/0x22-V14-Config.md#v144-http-security-headers-requirements)

> V14.4.1 Verify that every HTTP response contains a Content-Type header. text/*, /+xml and application/xml content types should also specify a safe character set (e.g., UTF-8, ISO-8859-1).

From #710 comments, by @tghosth:
> @elarlang please open a separate issues for your most recent comments.

Actually I have 2 more questions/ideas/problems with this requirement:
* we require `Content-Type` to be set, but Content-Type should match with actual content also. For example - classical problem: `Content-Type: text/html` for JSON content from API is ok by this requirement, but in reality it's not ok.
* I tried to find some information but didn't find any reason - why to not ask charset also from application/json (if we ask it from application/xml)?
  - one problem with JSON should be in this requirement, that JSON content should not be with ISO 8859-1 charset

.. or we need to address those problems with separate requirement in subcategory V13.2 RESTful Web Service Verification Requirements


> we require `Content-Type` to be set, but Content-Type should match with actual content also. For example - classical problem: `Content-Type: text/html` for JSON content from API is ok by this requirement, but in reality it's not ok.

Agree, we need an additional requirement for this, would you like open a PR against the master branch?

> I tried to find some information but didn't find any reason - why to not ask charset also from application/json (if we ask it from application/xml)?

When @jason-invision opened the original issue, he referenced the RFC https://tools.ietf.org/html/rfc2046#section-4.1.2 Does this provide the answer you were looking for?

First, if you think about new separate requirement for response "content-type" must match with actual content, then it's better to set milestone to v4.1 and we are dealing with that when v4.0.2 is done.

Second part got solved - application/json and charset - more research, found the answer.

[RFC 2046](https://tools.ietf.org/html/rfc2046) is updated by multiple other RFC, on of them is [RFC 6657](https://tools.ietf.org/html/rfc6657) "Update to MIME regarding "charset" Parameter Handling in Textual Media Types".

```
    (5)   application -- some other kind of data, typically
          either uninterpreted binary data or information to be
          processed by an application.  The subtype "octet-
          stream" is to be used in the case of uninterpreted
          binary data, in which case the simplest recommended
          action is to offer to write the information into a file
          for the user.  The "PostScript" subtype is also defined
          for the transport of PostScript material.  Other
          expected uses for "application" include spreadsheets,
          data for mail-based scheduling systems, and languages
          for "active" (computational) messaging, and word
          processing formats that are not directly readable.
          Note that security considerations may exist for some
          types of application data, most notably
          "application/PostScript" and any form of active
          messaging.  These issues are discussed later in this
          document.
```

Additionally, [RFC 8259](https://tools.ietf.org/html/rfc8259#section-11) "The JavaScript Object Notation (JSON) Data Interchange Format" says clearly, that no charset for `application/json`:

> Note: No "charset" parameter is defined for this registration. Adding one really has no effect on compliant recipients.

PR time, good discussion above.

@tghosth 
> Agree, we need an additional requirement for this, would you like open a PR against the master branch?

Do we actually need separate requirement? Or we can just put something extra to current 14.4.1?

Points to cover / for discussion:
* Verify that Content-Type header value is matching with served content
* If presented content is unknown type, use "application/octet-stream" as content-type value

 @elarlang Happy for you to extend existing requirement if you prefer.

After thinking about this more I would suggest we flat out delete 14.4.1 and add one new requirement to force JSON character types to application/json.

Also, here is a reference regarding dangerous content types no longer being supported in the browser since the beginning on the HTML5 era. https://security.stackexchange.com/questions/47489/utf-7-xss-attacks-in-modern-browsers

have modified 14.4.1 with the following:

**14.4.1** | [MODIFIED] Verify that every HTTP response contains a Content-Type header. Also specify a safe character set (e.g., UTF-8, ISO-8859-1) if the content types are text/*, /+xml and application/xml. Content must match with the provided Content-Type header. | ✓ | ✓ | ✓ | 173 |

https://github.com/OWASP/ASVS/commit/9c6d8a22b28b00222e5cd1414b816823e68e4330



Some minor comments/questions:

* It is really a "character encoding" not a "character set".
* I had no idea what a safe was, so maybe something like "a safe character set (e.g., UTF-8, ISO-8859-1, in contrast to UTF-7)" would be nice?
* Does this conflict with text/dns (RFC4027) or text/vtt which do not define a charset parameter?

> It is really a "character encoding" not a "character set".

Or should we use "character encoding scheme" based on [RFC 6365](https://datatracker.ietf.org/doc/html/rfc6365#section-2)?

> I had no idea what a safe was, so maybe something like "a safe character set (e.g., UTF-8, ISO-8859-1, in contrast to UTF-7)" would be nice?

As those (in theory) may change over time, I prefer not to be over-descriptive in the requirement text.

> Does this conflict with text/dns (RFC4027) or text/vtt which do not define a charset parameter?

Can you give more arguments for this question to understand the reason for it without guessing it?

> > Does this conflict with text/dns (RFC4027) or text/vtt which do not define a charset parameter?

> Can you give more arguments for this question to understand the reason for it without guessing it?

Sorry, I thought that was clear enough :smile:.

Some `text/*` MIME types do not define a `charset` parameter. For example:

> Subject: Registration of MIME media type text/dns
>
> MIME media type name: text
>
> MIME subtype name: dns
>
> Required parameters: **None.**
>
> Optional parameters: **None.**

Is it conformant to pass a charset parameter anyway?


@randomstuff - any ideas how to fix this? 

https://www.iana.org/assignments/media-types/text/vtt

> Encoding considerations: 8bit (always UTF-8)

https://www.iana.org/assignments/media-types/text/dns

> The master file format permits encoding arbitrary octet values by using the "\DDD" encoding.
> The use of "\DDD" encoding can be more reliable than transporting non-ASCII through MIME transports, if data passes through a gateway that re-encodes the character data.

So those mentioned ones have "their own language" or definition. Probably we have more of them and we need to make the requirement flexible/dynamic. Something like:

 > Verify that if a response specifies a Content-Type of "text/*", "*/*+xml" and "*/xml", it also specifies a safe character **encoding** (e.g., UTF-8, ISO-8859-1) with the charset parameter **according to IANA Media Types**.

> @randomstuff - any ideas how to fix this?

I am wondering if it is necessary to enforce the usage of the charset media type parameter when other solutions are possible (eg. for HTML). Could something like this be OK?

> Verify that responses which specifies a Content-Type of "text/", "/+xml" and "/xml" are either encoded in ASCII or explicitly specify a content-type when this is required by the associated content-type definition.

> I am wondering if it is necessary to enforce the usage of the charset media type parameter when other solutions are possible (eg. for HTML). Could something like this be OK?

The specification supports your concerns.

The specification, released in 2012, says (https://datatracker.ietf.org/doc/html/rfc6657):

>   Many complex text subtypes such as "text/html" [RFC2854] and "text/
>   xml" [RFC3023] have internal (to their format) means of describing
>   the charset.  Many existing User Agents ignore the default of "US-
>   ASCII" rule for at least "text/html" and "text/xml".


My comment in https://github.com/OWASP/ASVS/issues/788#issuecomment-2333458487
> I don't know the answer. Also when I read the spec (https://datatracker.ietf.org/doc/html/rfc6657) and thinking about reality (#900 (comment)), they may not match.

The reason behind that was my test in 2021:
https://github.com/OWASP/ASVS/issues/900#issuecomment-778346411

As web servers often set their defaults for content-type, and the default often is iso-88591-1, then it causes some mess when displaying content in utf-8 (for example).

So here I would say, that the content-type header is required, it must specify the charset and it must match with the served content - it means also the charset definition inside the HTML or XML document.

Note that the requirement is moved to 13.1.8.

@elarlang does this need to be retagged as V13?

ping @randomstuff 

If you read my last comment, do you think we should move on with my proposal (https://github.com/OWASP/ASVS/issues/788#issuecomment-2345310163) or with your proposal (https://github.com/OWASP/ASVS/issues/788#issuecomment-2345427933)?

Did you take a look at this: https://github.com/OWASP/ASVS/issues/900#issuecomment-778346411?

> Did you take a look at this: https://github.com/OWASP/ASVS/issues/900#issuecomment-778346411?

@elarlang, I did not look at this carefully enough but I understand that

> *Content-Type header overrides* charset from HTML document

which does not really contradict my claim:

> the *lack* of charset= parameter in Content-Type is (or should be) an issue in practice if the encoding is already specified in the file

But then for example,  [portswigger](https://portswigger.net/kb/issues/00800200_html-does-not-specify-charset) agrees with you (at least for HTML):

> For every response containing HTML content, the application should include within the Content-type header a directive specifying a standard recognized character set, for example charset=ISO-8859-1. 


Should we need to explicitly state that the intent is to avoid character encoding confusion vulnerabilities? Otherwise, this requirement could be easily overlooked.

One note, a content type header is not necessary if there content length is zero. This is one of the mod security core rule set rules as well. I just saw this debate through this cheat sheet series.


Update based on Jim's note:
> Verify that every HTTP response having the message body contains a Content-Type header field that matches the actual content of the response, including the charset parameter to specify safe character encoding (e.g., UTF-8, ISO-8859-1) according to IANA Media Types, such as "text/", "/+xml" and "/xml".

Minor cleanup:

Verify that every HTTP response having a message body contains a Content-Type header field that matches the actual content of the response, including the charset parameter to specify safe character encoding (e.g., UTF-8, ISO-8859-1) according to IANA Media Types, such as "text/", "/+xml" and "/xml".





I am ok with this (made a minor change to the proposal):

> Verify that every HTTP response **with** a message body contains a Content-Type header field that matches the actual content of the response, including the charset parameter to specify safe character encoding (e.g., UTF-8, ISO-8859-1) according to IANA Media Types, such as "text/", "/+xml" and "/xml".

@elarlang you want to PR it in?

ping @randomstuff - are your concerns covered with the latest proposal?