Terminology correction for OAuth and OIDC

We need to decide and apply the format for the following OAuth- and OIDC-related terms to be used the same through the document:

Terminology from https://datatracker.ietf.org/doc/html/rfc9700

* ID Token
* access token
* refresh token
* authorization server
* resource server
* OAuth (and not OAuth 2 vs OAuth2 vs OAuth2.0 vs OAuth2.1?
  * _Since its publication in [RFC6749] and [RFC6750], OAuth 2.0 (referred to as simply "OAuth" in this document)_
* OAuth client

Not mentioned in RFC9700, but using similar style:

* relying party
* OIDC client
* OpenID
* OpenID Provider
 
Not done (in scope of this issue) 
* Flow names
* mTLS - #2897


We have content from:
* OAuth-related RFCs
* and OIDC specification https://openid.net/specs/openid-connect-core-1_0.html

The problem is that the style is different in those, for example, in RFC is is used in text "access token" but in OIDC spec it is always camel-case "Access Token".

In short, we can not be aligned with both, personally I prefer to use RFC style (lowercase).

I work on that.