1.2.10 Grammar

Suggest a small grammar change to 1.2.10

From...

| # | Description | Level | #v5.0.be |
| :---: | :--- | :---: | :---: |
| **1.2.10** | Verify that the application is protected against CSV and Formula Injection. The application must follow the escaping rules defined in RFC4180 2.6 and 2.7 when exporting CSV content. Additionally, when exporting to CSV or other spreadsheet formats (such as xls, xlsx, or odf), special characters (including '=', '+', '-', '@' '\t' (tab) and '\00' (null character)) must be escaped using a single quote, if they are the first character in a field value. | 3 | v5.0.be-5.3.11 |

To...

| # | Description | Level | #v5.0.be |
| :---: | :--- | :---: | :---: |
| **1.2.10** | Verify that the application is protected against CSV and Formula Injection. The application must follow the escaping rules defined in RFC 4180 sections 2.6 and 2.7 when exporting CSV content. Additionally, when exporting to CSV or other spreadsheet formats (such as XLS, XLSX, or ODF), special characters (including '=', '+', '-', '@', '\t' (tab), and '\0' (null character)) must be escaped with a single quote if they appear as the first character in a field value. | 3 | v5.0.be-5.3.11 |


ok for me

Looks ok but please open a PR